<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/aop
               http://www.springframework.org/schema/aop/spring-aop.xsd
               http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--spring的声明式事务处理-->
    <!--1：事务管理器，切面（类）-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--2：事务的通知（方法），对切入点（方法）细化-->
    <!--<tx:advice id="myAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="save*" read-only="false" isolation="DEFAULT" propagation="REQUIRED"/>-->
            <!--<tx:method name="insert*" read-only="false" isolation="DEFAULT" propagation="REQUIRED"/>-->
            <!--<tx:method name="update*" read-only="false" isolation="DEFAULT" propagation="REQUIRED"/>-->
            <!--<tx:method name="edit*" read-only="false" isolation="DEFAULT" propagation="REQUIRED"/>-->
            <!--<tx:method name="delete*" read-only="false" isolation="DEFAULT" propagation="REQUIRED"/>-->
            <!--<tx:method name="*" read-only="true"></tx:method>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--3：使用spring的aop，配置声明式事务处理，配置切入点（Service层的方法），让通知（事务）关联切入点（Service层的方法）-->
    <!--<aop:config>-->
        <!--<aop:pointcut id="myPointcut" expression="execution(* com.itheima.ssm.service..*.*(..))"></aop:pointcut>-->
        <!--<aop:advisor advice-ref="myAdvice" pointcut-ref="myPointcut"></aop:advisor>-->
    <!--</aop:config>-->

    <!--使用注解的方式，在Service的类上，添加@Transactional-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
    <!--引入spring-mybatis的配置-->
    <import resource="classpath:spring-mybatis.xml"></import>
</beans>